<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ju's Develog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cerulean/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/zistyle.css"  type="text/css" />
    <link rel="stylesheet" href="/static/css/calendar.css"  type="text/css" />
     <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js}"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/static/js/calendar.js"></script>
</head>
<body>
    <header>
        <h1 style="display: flex; flex-direction: column; align-items: center "> Ju's Develog</h1>
            <div id="users" style="margin-top: 50px" >
<!--                <button type="button" class="btn btn-danger" a href="/oauth2/authorization/google" th:href="@{/oauth2/authorization/google}">Login</button>-->
                <a href="/oauth2/authorization/google" class="btn btn-danger" role="button">Login</a>
                <button type="button" class="btn btn-success">SignUp</button>
            </div>

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="width: 100%; margin-top: 50px"  >
            <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%">
                <button type="button" class="btn btn-dark">Category</button>
                <button type="button" class="btn btn-outline-dark" style="width: 150px">Main</button>
                <button type="button" class="btn btn-outline-dark" style="width: 150px">Spring</button>
                <button type="button" class="btn btn-outline-dark" style="width: 150px">CodingTest</button>
                <button type="button" class="btn btn-outline-dark" style="width: 150px">ETC</button>
                <button type="button" class="btn btn-outline-dark" style="width: 150px">Community</button>
            </div>
        </div>
    </header>

    <div class="planner">
        <div class="calendar">
            <div class="calendar-header">
			<span class="calendar_btn" onclick="prevCal()">
				<i class="icon-angle-left"></i>
			</span>
                <span class="month"></span>
                <span class="calendar_btn" onclick="nextCal()">
				<i class="icon-angle-right"></i>
			</span>
            </div>
            <table>
                <thead>
                <tr>
                    <th>SUN</th>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                    <th>SAT</th>
                </tr>
                </thead>
            </table>
            <div class="dates"></div>
        </div>
        <div class="schedule">
            <ul class="tabs">
                <li class="tab"><a href="#">Notes</a></li>
            </ul>
            <div class="tab-pane">
                <div class="schedule-list">
                    <div class="schedule-item">
                        <div class="time">
                            <span>9</span>
                            <span>am</span>
                        </div>
                        <div class="description">
                            <div class="description-header">Brainstorm on User Stories</div>
                            <div class="description-content">
                                <p>Lorem Ipsum dolor sit amet.</p>
                                <ul class="contact-list">
                                    <li class="contact">
                                        <a href="#"><img src="http://gravatar.com/avatar/8b1d44e3b2310823bd41d609003b70a9?s=80" alt="" /></a>
                                    </li>
                                    <li class="contact">
                                        <a href="#"><img src="http://gravatar.com/avatar/8b1d44e3b2310823bd41d609003b70a9?s=80" alt="" /></a>
                                    </li>
                                    <li class="contact add-contact">
                                        <a href="#"><i class="icon-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="schedule-item free">
                        <div class="time">
                            <span>10</span>
                            <span>am</span>
                        </div>
                        <div class="description">
                            <div class="description-header">No Schedule</div>
                            <div class="description-content">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <nav7>
            <ul>
                <li><a href="#"><span class="fontawesome-user"></span></a>
                    <ul class="clearfix">
                        <li><a href="https://blog.naver.com/dlahj1209" class="tooltip7" data-tooltip7="Blog"><span class="fontawesome-facebook"></span></a></li>

                        <li><a href="https://github.com/linxizhu1209" class="tooltip7" data-tooltip7="GitHub"><span class="fontawesome-twitter"></span></a></li>

                        <li><a href="l36475068@gmail.com" class="tooltip7" data-tooltip7="Google+"><span class="fontawesome-google-plus"></span></a></li>

                        <li><a href="010-3647-5068" class="tooltip7" data-tooltip7="phoneNum"><span class="fontawesome-phone"></span></a></li>

                    </ul>

                </li>

            </ul>
        </nav7>
    </footer>
</body>
<script>
var CDate = new Date();
var today = new Date();
var selectCk = 0;

var buildcalendar = function() {
    var htmlDates = '';
    var prevLast = new Date(CDate.getFullYear(), CDate.getMonth(), 0); //지난 달의 마지막 날
    var thisFirst = new Date(CDate.getFullYear(), CDate.getMonth(), 1); //이번 달의 첫쨰 날
    var thisLast = new Date(CDate.getFullYear(), CDate.getMonth() + 1, 0); //이번 달의 마지막 날
    document.querySelector(".month").innerHTML = (CDate.getMonth() + 1) + "월";  //month에 월 출력
    const dates = [];
    if (thisFirst.getDay() != 0) {
        for (var i = 0; i < thisFirst.getDay(); i++) {
            dates.unshift(prevLast.getDate() - i); // 지난 달 날짜 채우기
        }
    }
    for (var i = 1; i <= thisLast.getDate(); i++) {
        dates.push(i); // 이번 달 날짜 채우기
    }
    for (var i = 1; i <= 13 - thisLast.getDay(); i++) {
        dates.push(i); // 다음 달 날짜 채우기 (나머지 다 채운 다음 출력할 때 42개만 출력함)
    }

    for (var i = 0; i < 42; i++) {
        if (i < thisFirst.getDay()) {
            htmlDates += '<div class="date last">' + dates[i] + '</div>';
        } else if (today.getDate() == dates[i] && today.getMonth() == CDate.getMonth() && today.getFullYear() == CDate.getFullYear()) {
            htmlDates += '<div id="date_' + dates[i] + '" class="date today" onclick="fn_selectDate(' + dates[i] + ');">' + dates[i] + '</div>';
        } else if (i >= thisFirst.getDay() + thisLast.getDate()) {
            htmlDates += '<div class="date next">' + dates[i] + '</div>';
        } else {
            htmlDates += '<div id="date_' + dates[i] + '" class="date" onclick="fn_selectDate(' + dates[i] + ');">' + dates[i] + '</div>';
        }
    }
    document.querySelector(".dates").innerHTML = htmlDates;
}
function prevCal(){
    CDate.setMonth(CDate.getMonth()-1);
    buildcalendar();
}
function nextCal(){
    CDate.setMonth(CDate.getMonth()+1);
    buildcalendar();
}

function fn_selectDate(date){

    var year = CDate.getFullYear();
    var month = CDate.getMonth() + 1;
    var date_txt = "";
    if(CDate.getMonth + 1 < 10){
        month = "0" + (CDate.getMonth() + 1);
    }
    if(date < 10){
        date_txt = "0" + date;
    }

    if(selectCk == 0){
        $(".date").css("background-color", "");
        $(".date").css("color", "");
        $("#date_"+date).css("background-color", "red");
        $("#date_"+date).css("color", "white");

        $("#period_1").val(year+"-"+month+"-"+date);
        $("#period_2").val("");
        selectCk = date;
    }else{
        $("#date_"+date).css("background-color", "red");
        $("#date_"+date).css("color", "white");
        for(var i = selectCk + 1 ; i < date ; i++){
            $("#date_"+i).css("background-color", "#FFDDDD");
        }

        $("#period_2").val(year+"-"+month+"-"+date);
        selectCk = 0;
    }

}

buildcalendar();
</script>
</html>